a#side-bar-button {
  z-index: 1001;
}
.table-button {
  border-radius: 30px;
}
#map {
  height: 100%;
  width: 100%;
}
.layout-container {
}
.main-layout {
  background-color: inherit;
  height: 100vh;
  width: calc(100% - 300px);
  position: absolute;
  right: 0;
  top: 0;
}
.side-layout {
  background-color: inherit;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  width: 300px;
  position: absolute;
  top: 0;
}

.noselect {
  user-select: none;
}

#loading-background {
  background-color: inherit;
  height: 100vh;
  width: calc(100%);
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  opacity: 0.2;
  z-index: 1000;
}
.main-loading {
  width: calc(100% - 300px);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.load-spinner {
  top: 50%;
  left: 50%;
}
table {
  overflow-wrap: break-word;
}
td {
  max-width: 300px;
}
.ellipsis { text-overflow: ellipsis; }

#side-bar-button, #side-bar-best-way-button, #side-bar-save-button,
#side-bar-clear-button {
  margin-top: 8.3px;
  border-radius: 30px;
  z-index: 1001;
}